/*
Grenze Gotisch --> For navbar
Berkshire Swash --> For titles
Syne Mono --> For body
*/

@media (max-width: 768px) {
  .slide {
    width: 100%;
  }
}

/* PC's */
@media (min-width: 768px) {

}

.navbar, footer {
  background: url('bg.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}


.bg-top {
  background: url('bg-2.jpg');
}

.bg-ww1 {
  background: url('ww1.jpg');
}

.bg-hitler {
  background: url('hitler.JPEG');
}

.bg-black {
  background-color: #000;
  color: #fff;
  border-radius: 15px;
}

.bg-top, .bg-ww1, .bg-hitler {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

.t-nav {
  font-family: 'Grenze Gotisch';
}

.heading {
  font-family: 'Berkshire Swash';
}

.content {
  font-family: 'Syne Mono';
}

footer {
  height: 10%;
}

.germany {
  background: url('germany.svg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.japan {
  background: url('japan.png') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.italy {
  background: url('germany.svg') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bg-plain {
  background-image: url('bg.jpg');
  color: #000;
}

.cont-hitler {
  padding: 3%;
  margin-top: 1%;
  border-radius: 15px;
}
