@media (max-width: 768px) {
  nav img {
    width: 15%;
  }
}
@media (min-width: 768px) {
  nav img {
    width: 5%;
  }
}

.navbar {
  background-color: #000;
}

.even {
  background-color: #000;
}

.odd {
  background-color: #fff;
}

footer {
  height: 10%;
  background-color: #000;
}
